body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 20px;
    height: 50px;
    grid-column: 1/-1;
}

/* Navagation */

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
display: inline;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 20px;
}

/* Grid Container */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    gap: 0;
    width: 100%;
}

/* Sidebars */

.sidebar {
    background: palegreen;
    padding: 20px;
}

.left-sidebar {
    background: cyan;
    height: auto;
}

.right-sidebar {
    background: khaki;
    height: 460px;
}

/* Main Content */

.main-content {
    background-color: palegreen;
    padding: 20px;
    height: auto;
}

/* Full Width Box */

.full-width-box {
    background-color: blanchedalmond;
    grid-column: 1/-1;
    height: auto;
    padding: 50px;
}

.full-width-box a:hover {
    color:blue
}
.full-width-box a:hover {
    color:green
}

/* Footer */

footer {
    background-color: darkgrey;
    color: #333;
    text-align: canter;
    padding: 20px;
    grid-column: 1/-1;
}

/* Contact - Grid Container */

.contact-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    width: 100%;
}

/* Contact - Sidebars */

.contact-sidebar {
    background: palegreen;
    padding: 20px;
}

.contact-left-sidebar {
    background: cyan;
    height: auto;
}

.contact-right-sidebar {
    background: khaki;
    height: 400px;
}

/* Main Content */

.contact-main-content {
    background-color: palegreen;
    padding: 20px;
    height: auto;
}